@font-face {
    font-family: 'Punk Nova';
    src: url('PunkNova.woff2') format('woff2'),
        url('PunkNova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Punk Nova';
    src: url('PunkNova-Bold.woff2') format('woff2'),
        url('PunkNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

